<div class="main-modal__main-container">
    <div class="main-modal__main-body">
        <div class="main-modal__title">
            <h1 class="title">{{ title }}</h1>
            <strong class="text main-modal__close" (click)="CloseModal()">X</strong>
        </div>
        <form #addFormtp="ngForm" class="main-modal__formulario">
            <div>
                <app-main-input *ngFor="let element of formfieldList" [control]="element.control" [controlConfiguration]="element.complement"></app-main-input>
            </div>
        </form>
    </div>
</div>
<div class=" main-modal__curtain"></div>
