<div style="background:#262051; border: 1px solid #46416B; margin: 0.5rem; border-radius: 0.5rem; padding: 1rem; ">
    <div style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
        <h1 class="title">Lista De Tareas</h1>
        <app-main-button [label]="'Agregar Tarea'" (click)="agregateElement()"></app-main-button>
    </div>
    <app-responsive-table [elementsToShow]="tasksList" [replaceLabels]="replaceLabels" [elementsForPage]="8"></app-responsive-table>
</div>

<app-main-modal *ngIf="showModal |async"></app-main-modal>