<div class="task-administrartor__container">
    <div class="task-administrartor__title">
        <h1 class="title">Lista De Tareas</h1>
        <app-main-button [label]="'Agregar Tarea'" (click)="agregateElement()"></app-main-button>
    </div>
    <app-main-select [selectLabel]="'Ver informacion como'" [listaElementos]="listaElementos" (selected)="changeVisualization($event)"></app-main-select>
    <div class="task-administrartor__filters">
        <strong class="task-administrartor__filters__text text">Filter: </strong> <app-main-button *ngFor="let filter of filters; let i = index" [label]="filter.label" [activateColor]="i==slectedFilter? filter.activateColor: ''" (click)="ApplyFilter($event)"></app-main-button>
    </div>
    <app-responsive-table [elementsToShow]="filteredTasksList" [replaceLabels]="replaceLabels" [elementsForPage]="8" [useButtonsOnTheFields]="useButtonsOnTheFields" [showContentAsCard]="showContentAsCard">
    </app-responsive-table>
</div>

<app-main-modal *ngIf="showModal |async"></app-main-modal>