/* You can add global styles to this file, and also import other style files */
body {
    background: #221F3C;
    margin: 0;
}

.title {
    font-family: Montserrat, sans-serif; 
    color: #fff; 
    display: contents;
    font-size: 4vh;
}

.text {
    color: #fff; 
    font-family: Montserrat, sans-serif; 
    line-height: normal; 
}
