
<div class="responsive-table__container">
  <table *ngIf="elementsToShowPage && elementsToShowPage.length >0" class="responsive-table">
    <tr *ngIf="listKeys && listKeys.length > 0">
      <th *ngFor="let key of listKeys; let i = index"  class="responsive-table__td-th">
        {{ replaceLabels && replaceLabels[i]? replaceLabels[i].label: key }}
      </th>
    </tr>
    <tr *ngFor="let element of elementsToShowPage">
      <td *ngFor="let key of listKeys"  class="responsive-table__td-th">
        <ng-container *ngIf="isComplex.includes(key); else elseNotDone">
          <app-complex-element-table [elements]="element[key]" [doNotShowProperties]="['id']"></app-complex-element-table>
        </ng-container>
        <ng-template #elseNotDone>
          <ng-container *ngIf="key == 'date'"> 
            {{ element[key] | date }}
          </ng-container>
          <ng-container *ngIf="key != 'date'">
            {{element[key]}}
          </ng-container>
        </ng-template>        
      </td>
    </tr>
  </table>
</div>
<strong class="text responsive-table__feedback-text  responsive-table__feedback-first">Elementos {{startElementToShow + 1 }} a {{ endElementToShow }}</strong>
<div class="responsive-table__buttons-container">
  <app-main-button [label]="'Anterior'" (click)="catChButton($event)"></app-main-button>
  <div class="responsive-table__buttons-text">
    <strong class="text responsive-table__feedback-text">Pag : {{ actualPage }}</strong>
  </div>
  <app-main-button [label]="'Siguiente'" (click)="catChButton($event)"></app-main-button>
</div>
